[tool.poetry]
name = "copilotkit"
version = "0.1.28-alpha.4"
description = "CopilotKit python SDK"
authors = ["Markus Ecker <markus.ecker@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://copilotkit.ai"
repository = "https://github.com/CopilotKit/sdk-python"
keywords = ["copilot", "copilotkit", "langgraph", "langchain", "ai", "langsmith", "langserve"]

[tool.poetry.dependencies]
python = ">=3.9,<4.0"
langgraph = "^0.2.35"
httpx = "^0.27.2"
fastapi = "^0.115.0"
langchain = "^0.3.3"
langchain-openai = "^0.2.2"
langchain-anthropic = "^0.2.3"
partialjson = "^0.0.8"
langgraph-sdk = "^0.1.32"
toml = "^0.10.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
demo = "copilotkit.demos.multi_agent.demo:main"
