# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/.yarn/patches
frontend/.yarn/plugins
frontend/.yarn/releases
frontend/.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

.venv
# production
frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*
agent/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
next-env.d.ts

agent/__pycache__*
agent/pycache*
agent/__pycache__/agent.cpython-312.pyc