.github
.husky
.turbo
community
assets
.vscode
Dockerfile
**/.venv
**/.env
**/.env.local
**/.env.*.local
**/.vscode
infra
docs
**/.turbo
**/.husky
**/.next
**/coverage
**/dist
**/build
**/__pycache__
**/.pytest_cache
**/.git
**/.DS_Store
**/node_modules
**/.langgraph_api
**/*.log