.github
.husky
.turbo
community
assets
.vscode
Dockerfile
**/.venv
**/.env
**/.vscode
infra
docs
**/.turbo
**/.husky
**/dist
**/build
**/.next
**/.nx
**/coverage
**/.cache
**/.parcel-cache
**/.vite
**/.storybook-out
**/_build
**/deps
**/.elixir_ls
**/.idea
**/tmp
**/.pnpm-store
**/__pycache__
**/.pytest_cache
**/.git
**/.DS_Store
**/node_modules
**/.langgraph_api
