# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem
__snapshots__
@generated
node_modules
.idea/
cdk_outputs.json
.turbo
test-run-comment.md

*.egg-info/
.installed.cfg
*.egg
**/.langgraph_api

*.sqlite
*.sqlite-shm
*.sqlite-wal

__pycache__/