minimum-release-age=1440
minimum-release-age-exclude[]=@ag-ui/core
minimum-release-age-exclude[]=@ag-ui/client
minimum-release-age-exclude[]=@ag-ui/encoder
minimum-release-age-exclude[]=@ag-ui/proto
minimum-release-age-exclude[]=@ag-ui/langgraph
minimum-release-age-exclude[]=@ag-ui/a2ui-middleware
minimum-release-age-exclude[]=@ag-ui/a2ui-toolkit
minimum-release-age-exclude[]=@copilotkit/bot
minimum-release-age-exclude[]=@copilotkit/bot-slack
minimum-release-age-exclude[]=@copilotkit/bot-ui
block-exotic-subdeps=true
