minimum-release-age=1440
minimum-release-age-exclude[]=@ag-ui/langgraph
minimum-release-age-exclude[]=@ag-ui/a2ui-middleware
minimum-release-age-exclude[]=@ag-ui/a2ui-toolkit
block-exotic-subdeps=true
