@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/plus-jakarta-sans-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/plus-jakarta-sans-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/plus-jakarta-sans-latin-600-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/plus-jakarta-sans-latin-700-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spline Sans Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/spline-sans-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spline Sans Mono";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/spline-sans-mono-latin-500-normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spline Sans Mono";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/spline-sans-mono-latin-600-normal.woff2") format("woff2");
}
