.copilotKitHeader {
  height: 60px;
  border-left: 1px solid #555;
}

.copilotKitWindow.open {
  box-shadow: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

.aspect-ratio-box {
  width: 100%;
  max-width: calc(100% - 5rem); /* Account for margin */
  position: relative;
}
.aspect-ratio-box::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.aspect-ratio-box > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.custom-suggestion {
  padding: 8px 12px;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  background: #4169e1;
  color: white;
}
