# Dependencies
node_modules

# Build output
dist
dist-ssr

# Environment variables
.env
.env.*
!.env.example

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Testing
coverage

# OS files
Thumbs.db
