.tooltip {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  color: #222;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  font-size: 13px;
  width: 350px;
}
.tooltip b {
  color: rgb(59, 130, 246);
  font-family: monospace;
}

.copilotKitInput {
  cursor: pointer;
}

.copilotKitInput > input {
  flex: 1; /* Allow textarea to take up remaining space */
  outline: 2px solid transparent;
  outline-offset: 2px;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  color: var(--copilot-kit-secondary-contrast-color);
  border: 0px;
  background-color: var(--copilot-kit-background-color);
}

.copilotKitHeader:hover {
  box-shadow: 0 0 0 2px rgb(7, 201, 131);
}

.copilotKitAssistantMessage:hover {
  box-shadow: 0 0 0 2px rgb(7, 201, 131);
}

.copilotKitUserMessage:hover {
  box-shadow: 0 0 0 2px rgb(7, 201, 131);
}

.micButton:hover {
  box-shadow: 0 0 0 2px rgb(7, 201, 131);
  border-radius: 5px;
}

.sendButton:hover {
  box-shadow: 0 0 0 2px rgb(7, 201, 131);
  border-radius: 5px;
}
