//You only need to choose one of the following:

OPENAI_API_KEY=<Your OpenAI API Key if you are self-hosting>
NEXT_PUBLIC_COPILOT_CLOUD_API_KEY=<Your Copilot Cloud API Key if you choose to use Copilot Cloud>

