environment: "{{ .Values.environment }}"

app:
  name: coagents-routing

deployments:
  - name: coagents-routing-ui
    type: ui
    image:
      repository: "058264219587.dkr.ecr.us-east-1.amazonaws.com/coagents:coagents-routing-ui"
      tag: "{{ .Values.globalImageTag }}"
    port: 3000
    command: ["npm", "start", "--", "-H", "0.0.0.0", "--port", "3000"]
    livenessProbe:
      httpGet:
        path: /
        port: http
      initialDelaySeconds: 15
    config:
      secretsJson: {{ fetchSecretValue "ref+awssecrets://demos/coagents-research-canvas/ui/secrets" }}
      env:
        - name: REMOTE_ACTION_URL
          value: "http://coagents-routing-agent-fastapi:8000/copilotkit"
    outputs:
      type: ui
      dependencies: local
      description: "CoAgents Research Canvas"
  
  - name: coagents-routing-agent-fastapi
    type: agent
    image:
      repository: "058264219587.dkr.ecr.us-east-1.amazonaws.com/coagents:coagents-routing-agent-python-local-deps"
      tag: "{{ .Values.globalImageTag }}"
    port: 8000
    livenessProbe:
      httpGet:
        path: /health
        port: http
      initialDelaySeconds: 15
    config:
      secretsJson: {{ fetchSecretValue "ref+awssecrets://demos/coagents-research-canvas/agent/secrets" }}
      env:
        - name: HOST
          value: "0.0.0.0"
        - name: PORT
          value: "8000"
    outputs:
      type: agent-fastapi
      dependencies: local

  - name: coagents-routing-agent-lgc-python
    type: agent
    image:
      repository: "058264219587.dkr.ecr.us-east-1.amazonaws.com/coagents:coagents-routing-agent-python-local-deps"
      tag: "{{ .Values.globalImageTag }}"
    port: 8000
    livenessProbe:
      exec:
        command: ["/bin/sh", "-c", "curl -L 'http://localhost:8000/assistants/search' -H 'Content-Type: application/json' -d '{}'"]
      initialDelaySeconds: 15
    command: ["/bin/sh", "-c","langgraph dev --no-browser --port=8000 --config=langgraph.json --host=0.0.0.0"]
    config:
      secretsJson: {{ fetchSecretValue "ref+awssecrets://demos/coagents-research-canvas/agent/secrets" }}
      env:
        - name: HOST
          value: "0.0.0.0"
        - name: PORT
          value: "8000"
    outputs:
      type: agent-lgc-python
      dependencies: local

  - name: coagents-routing-agent-lgc-js
    type: agent
    image:
      repository: "058264219587.dkr.ecr.us-east-1.amazonaws.com/coagents:coagents-routing-agent-js-remote-deps"
      tag: "{{ .Values.globalImageTag }}"
    port: 8000
    livenessProbe:
      exec:
        command: ["/bin/sh", "-c", "curl -L 'http://localhost:8000/assistants/search' -H 'Content-Type: application/json' -d '{}'"]
      initialDelaySeconds: 15
    config:
      secretsJson: {{ fetchSecretValue "ref+awssecrets://demos/coagents-research-canvas/agent/secrets" }}
      env:
        - name: HOST
          value: "0.0.0.0"
        - name: PORT
          value: "8000"
    outputs:
      type: agent-lgc-js
      dependencies: remote
