{{- $root := . }}
{{- range $deploymentIndex, $deployment := .Values.deployments }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deployment.name }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ $deployment.name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ $deployment.name }}
    spec:
      tolerations:
      - key: "dedicated"
        operator: "Equal"
        value: "e2e"
        effect: "NoSchedule"
      nodeSelector:
        purpose: e2e
      securityContext: {}
      containers:
        - name: {{ $deployment.name }}
          image: "{{ $deployment.image.repository }}-{{ $deployment.image.tag }}"
          imagePullPolicy: {{ $deployment.image.pullPolicy | default "IfNotPresent" }}
          {{- if $deployment.command }}
          command:
            {{- toYaml $deployment.command | nindent 12 }}
          {{- end }}
          resources:
            {{- if $deployment.type | eq "ui" }}
            requests:
              cpu: "512m"
              memory: "512Mi"
            limits:
              cpu: "512m"
              memory: "512Mi"
            {{- end }}
            {{- if $deployment.type | eq "agent" }}
            requests:
              cpu: "1600m"
              memory: "512Mi"
            limits:
              cpu: "1600m"
              memory: "512Mi"
            {{- end }}
          env:
            {{- if $deployment.config.secretsJson }}
            {{- include "example-app.jsonToEnv" $deployment.config.secretsJson | nindent 12 }}
            {{- end }}
            {{- if $deployment.config.env }}
            {{- toYaml $deployment.config.env | nindent 12 }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ $deployment.port }}
              protocol: TCP
          {{- with $deployment.livenessProbe }}
          livenessProbe:
            {{ toYaml . | nindent 12 }}
          readinessProbe:
            {{ toYaml . | nindent 12 }}
          {{- end }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ $deployment.name }}-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ $deployment.name }}
  {{- if $deployment.type | eq "ui" }}
  minReplicas: 1
  maxReplicas: 1
  {{- end }}
  {{- if $deployment.type | eq "agent" }}
  minReplicas: 1
  maxReplicas: 1
  {{- end }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 75
---
{{- end }}
