.copilotKitInput {
  display: flex;
  flex-direction: column;
  cursor: text;
  position: relative;
  background-color: #fbfbfb;
  border-radius: 20px;
  border: 1px solid var(--copilot-kit-separator-color);
  padding: 12px 14px;
  height: 75px;
}

.copilotKitInputContainer {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 15px 0;
}

.copilotKitInput > .copilotKitInputControls > button {
  padding: 0;
  cursor: pointer;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transform: scale(1);
  color: rgba(0, 0, 0, 0.25);
  -webkit-appearance: button;
  appearance: button;
  background-color: transparent;
  background-image: none;
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  margin: 0;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  margin-left: 0.5rem; /* Add margin to separate button from textarea */
  display: flex; /* Add these properties below to properly display SVG icons */
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.copilotKitInput > .copilotKitInputControls > button:not([disabled]) {
  color: var(--copilot-kit-primary-color);
}

.copilotKitInput > .copilotKitInputControls > button:not([disabled]):hover {
  color: color-mix(in srgb, var(--copilot-kit-primary-color) 80%, black);
  transform: scale(1.05);
}

.copilotKitInput > .copilotKitInputControls > button[disabled] {
  color: var(--copilot-kit-muted-color);
  cursor: default;
}

.copilotKitInputControls {
  display: flex;
  gap: 3px;
}

.copilotKitInput > textarea {
  flex: 1; /* Allow textarea to take up remaining space */
  outline: 2px solid transparent;
  outline-offset: 2px;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: text;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  color: var(--copilot-kit-text-color);
  border: 0px;
  background-color: #fbfbfb;
}

.copilotKitInput > textarea::placeholder {
  color: #808080;
  opacity: 1;
}

.copilotKitInput > .copilotKitInputControls > button.copilotKitPushToTalkRecording {
  background-color: #ec0000;
  color: white;
  border-radius: 50%;
  animation: copilotKitPulseAnimation 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Add styles for SVG icons inside buttons */
.copilotKitInput > .copilotKitInputControls > button > svg {
  width: 24px;
  height: 24px;
}
