name: Destroy Inactive Preview Environments

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  destroy:
    name: Destroy Inactive Preview Environments
    runs-on: ubuntu-20.04
    outputs:
      destroyed-pr-numbers: ${{ steps.delete-inactive-preview-environments.outputs.destroyed-pr-numbers }}
    defaults:
      run:
        working-directory: examples/helmfile
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Setup helmfile
        uses: mamezou-tech/setup-helmfile@v1.2.0

      - name: EKS Config
        run: |
          aws eks --region us-east-1 update-kubeconfig --name copilotcloud-staging-eks

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "9.5"

      - name: Use Node.js 21
        uses: actions/setup-node@v2
        with:
          node-version: 21.x
          cache: "pnpm"
          cache-dependency-path: "./examples/helmfile/pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Delete inactive preview environments
        id: delete-inactive-preview-environments
        run: |
          node destroy-inactive-preview-environments.js
          echo "destroyed-pr-numbers=$(cat inactive-pull-requests.json)" >> "$GITHUB_OUTPUT"

  pr-comments:
    needs: destroy
    name: Comment on PRs
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        pr-number: ${{ fromJSON(needs.destroy.outputs.destroyed-pr-numbers) }}
    steps:
      - name: Comment on PRs
        run: |
          echo "PR number: ${{ matrix.pr-number }}"

      - name: Delete a comment
        uses: thollander/actions-comment-pull-request@v3
        with:
          comment-tag: preview-status-update
          mode: delete
          pr-number: ${{ matrix.pr-number }}

      - name: Comment
        uses: thollander/actions-comment-pull-request@v3
        with:
          comment-tag: preview-status-update
          pr-number: ${{ matrix.pr-number }}
          message: |
            The preview environment for this PR has been deleted because it has been inactive for more than 12 hours.
            To recreate the preview environment, you can push a new change to the PR.