name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "CopilotKit"
    timeout-minutes: 10
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "9.5"

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v2
        with:
          node-version: 20.x

      - name: Install Dependencies
        run: pnpm i

      - name: Is in prerelease mode
        id: is-in-prerelease-mode
        run: |
          if [ -f ".changeset/pre.json" ]; then
            echo "::set-output name=is_in_prerelease_mode::true"
          else
            echo "::set-output name=is_in_prerelease_mode::false"
          fi

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: ./.github/actions/changesets-action
        with:
          publish: pnpm changeset publish --no-git-tag
          cwd: CopilotKit
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_ELEVATED }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

      - name: Print outputs
        run: |
          echo "published: ${{ steps.changesets.outputs.published }}"
          echo "publishedPackages: ${{ steps.changesets.outputs.publishedPackages }}"

      - name: Tag "next" post publish
        if: ${{ steps.changesets.outputs.published == 'true' }} && ${{ steps.is-in-prerelease-mode.outputs.is_in_prerelease_mode == 'true' }}
        run: |
          echo "Will tag next"

      - name: Put `main` back in prerelease mode
        if: ${{ github.ref == 'refs/heads/main' && steps.changesets.outputs.published }}
        run: |
            if [ ! -f ".changeset/pre.json" ]; then
              pnpm changeset pre enter next
              git config --global user.email "github-actions[bot]@users.noreply.github.com"
              git config --global user.name "github-actions[bot]"
              git add .
              git commit -m "chore: entering prerelease mode (next)"
              git push origin main --force
            fi

