name: test

on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "README.md"
      - "examples/**"
      - ".github/workflows/demos_preview.yml"
      - ".github/workflows/release.yml"
      - "src/v1.x/packages/**/package.json"
      - "src/v1.x/packages/**/CHANGELOG.md"
      - "src/v1.x/.changeset/**"
  pull_request:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "README.md"
      - "examples/**"
jobs:
  v1:
    name: "unit / v1.x"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "src/v1.x"
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "9.5"

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: npx turbo run build

      - name: Run tests
        run: npx turbo run test
