name: test / unit / v2

on:
  push:
    branches: [main]
    paths:
      - "packages/v2/**"
      - "examples/v2/**"
      - ".github/workflows/test_unit-v2.yml"
  pull_request:
    branches: [main]
    paths:
      - "packages/v2/**"
      - "examples/v2/**"
      - ".github/workflows/test_unit-v2.yml"
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to run the workflow on"
        required: true
        default: "main"
        type: string
jobs:
  v2:
    name: "unit / v2.x"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || github.ref }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: "10.13.1"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Run tests
        run: pnpm run test:next
